.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        = current_user.name
      .side-header__box__menu
        .side-header__box__menu__new-group
          =link_to "/groups/new" do
            = fa_icon 'pencil-square-o', class: 'icon'
        .side-header__box__menu__edit-user
          =link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'  
  .groups
    .group 
      .group__group-name
        とうきょう
      .group__latest-message
        やっほー
    .group 
      .group__group-name
        Sample.group
      .group__latest-message
        Hello!
    .group 
      .group__group-name
        example
      .group__latest-message
        まだメッセージがありません