  .side-header
   .side-header__box
    %p.side-header__box__user-name てっくたろう
    %ul.side-header__box__menu
     %li.side-header__box__menu__new-group
      %i.fa.fa-edit
     %li.side-header__box__menu__edit-user
      %i.fa.fa-cog
  .groups
   .group 
    .group__group-name とうきょう
    .group__latest-message やっほー
   .group 
    .group__group-name Sample.group
    .group__latest-message Hello!
   .group 
    .group__group-name example
    .group__latest-message まだメッセージがありません
